.container-fluid
  .row
    .col-md-12
      %ul.nav
        %li.nav-item
          = link_to('Home', root_path, class: 'nav-link')
        %li.nav-item
          = link_to('Create new Word', new_word_path, class: 'nav-link')
       
       